<img src="Logo.png" width="100" align="left"/> 

# <center> Unit 3 Project </center>
#  <center> Fourth section : Conclusion </center>


In this notebook you will be comparing the results of the two methods we used on the created testset. That is said: you will compare the results to the clustering with the results of the classification on the same test test and provide insights and explanation about the observed behaviour.

For this final task you will need to : 
1. Load the testset data that you created all along this project 
2. For each cluster provide percentages about each actual/ predicted class contained with this cluster. Eg : cluster NÂ°2 : is made of ( 50% class 2 and 50% class 3 ) from actual labels and ( 40 % predicted class 2 and 40% predicted class 3 + 20% predicted class 1) 
The above is just an example and is far away from the actual situation.

3. Explain the behaviour and provide isights about it

## 1.  Load the data:

In [5]:
import pandas as pd

In [6]:
# To-Do : load the test summary data 
df = pd.read_csv('test_summary.csv')

In [7]:
df.head()

,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT,Category,ID,cluster,Predicted_class
0,36,0.0,47.8,89.0,48.5,38.4,8.6,8.26,5.62,96.0,21.9,76.2,0.0,50,3,0.0
1,56,1.0,45.1,79.1,39.0,30.5,5.2,6.47,5.10,64.0,145.3,66.7,0.0,497,4,0.0
2,51,0.0,45.9,66.7,31.8,28.1,9.0,10.08,5.61,85.0,36.2,73.0,0.0,212,3,0.0
3,55,0.0,44.7,71.6,22.9,22.1,5.5,6.82,4.61,105.0,59.2,72.7,0.0,250,3,0.0
4,45,0.0,43.2,68.2,27.8,42.3,6.6,10.93,6.61,105.0,27.2,74.5,0.0,143,3,0.0

## 2. Analysis:

In [8]:
# To-Do create a summary about each cluster : 
# percentages of each target (actual Category) within each cluster 
# + Percentages of each predicted class within the cluster 
# results should be something like : 
# For clusterk : {'true_class0_percetage': 0.0,
#                 'true_class1_percetage': 0.0,
#                  'true_class2_percetage': 0.0,
#                   'true_class3_percetage': 0.0,
#                   'true_class4_percetage': 0.0,
#                   'predicted_class0_percetage': 0.0,
#                   'predicted_class1_percetage': 0.0,
#                   'predicted_class2_percetage': 0.0,
#                   'predicted_class3_percetage': 0.0,
#                    'predicted_class4_percetage': 0.0}

def clusterAnalysis(data, cluster, number_classes):
    data = {}
    for i in range(number_classes):
        data1 = df.loc[(df['cluster'] == cluster) & (df['Category'] == float(i))]
        data["true_class"+str(i)+"_percetage"] = 100*len(data1)/(len(df.loc[(df['cluster'] == cluster)]))
        data2 = df.loc[(df['cluster'] == cluster) & (df['Predicted_class'] == float(i))]
        data["predicted_class"+str(i)+"_percetage"] = 100*len(data2)/(len(df.loc[(df['cluster'] == cluster)]))
    return data

clusters = []
for i in range(5):
    cluster = clusterAnalysis(df, i, 5)
    print(cluster)
    print("\n")
    clusters.append(cluster)

{'true_class0_percetage': 0.0, 'predicted_class0_percetage': 100.0, 'true_class1_percetage': 0.0, 'predicted_class1_percetage': 0.0, 'true_class2_percetage': 0.0, 'predicted_class2_percetage': 0.0, 'true_class3_percetage': 0.0, 'predicted_class3_percetage': 0.0, 'true_class4_percetage': 100.0, 'predicted_class4_percetage': 0.0}


{'true_class0_percetage': 0.0, 'predicted_class0_percetage': 40.0, 'true_class1_percetage': 0.0, 'predicted_class1_percetage': 0.0, 'true_class2_percetage': 20.0, 'predicted_class2_percetage': 0.0, 'true_class3_percetage': 0.0, 'predicted_class3_percetage': 0.0, 'true_class4_percetage': 80.0, 'predicted_class4_percetage': 60.0}


{'true_class0_percetage': 0.0, 'predicted_class0_percetage': 0.0, 'true_class1_percetage': 0.0, 'predicted_class1_percetage': 0.0, 'true_class2_percetage': 100.0, 'predicted_class2_percetage': 0.0, 'true_class3_percetage': 0.0, 'predicted_class3_percetage': 0.0, 'true_class4_percetage': 0.0, 'predicted_class4_percetage': 100.0}


{'true_class0_percetage': 98.93617021276596, 'predicted_class0_percetage': 100.0, 'true_class1_percetage': 0.0, 'predicted_class1_percetage': 0.0, 'true_class2_percetage': 1.0638297872340425, 'predicted_class2_percetage': 0.0, 'true_class3_percetage': 0.0, 'predicted_class3_percetage': 0.0, 'true_class4_percetage': 0.0, 'predicted_class4_percetage': 0.0}


{'true_class0_percetage': 71.42857142857143, 'predicted_class0_percetage': 95.23809523809524, 'true_class1_percetage': 9.523809523809524, 'predicted_class1_percetage': 4.761904761904762, 'true_class2_percetage': 4.761904761904762, 'predicted_class2_percetage': 0.0, 'true_class3_percetage': 9.523809523809524, 'predicted_class3_percetage': 0.0, 'true_class4_percetage': 4.761904761904762, 'predicted_class4_percetage': 0.0}

## 3. Explanations and isights :

In this section you should display analysis about each cluster and comment those one by one  
- For Cluster0, the target class is class 4 which got a percentage of 100%. But the prediction class is different as it's the class 0 with 100%.This chould mean that Cluster0 has a weak relationship with class 4.
- For Cluster1, there are many target classes and predicted classes, the class 4 with 80% as target and 60% as predicted class. The other target class is class 2 with 20% and the other prediction class 0 with 40%. This may mean that the Cluster1 can have a relationship with class 4.
- For Cluster2, the target class is class 2 which got a percentage of 100%. But the prediction class is different as it's the class 4 with 100%.This chould mean that Cluster2 has a weak relationship with class 2.
- For Cluster3, there are many target classes, class 0 with more that 98% and class 2 with 1%. The predicted class as for it is class 0 with 100%. This means Cluster3 has a strong relationship with the class 0.
- For Cluster4, there are many target classes and predicted classes, the class 0 with 71% as target class and 95% as predicted class. The other target classes are class 1 with 9.5%, class 2 with 5%, class 3 with 9.5% and class 4 with 5%. The other predicted class is class 1 with about 5%. This could mean the Cluster4 can have a relationship with the class 0.

## 4. Conclusion:

Explain your findings and provide reasons for the behaviour.

From the clustering analysis, we can deduce that the classification and clustering worked on two different ways. Thus we got different results and which made the clustering and classification create different groupings.
It should be noted that classification uses predefined classes in which objects are assigned, while clustering identifies similarities between objects, which it groups according to those characteristics in common and which differentiate them from other groups of objects.